<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flight.name %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @flight.origin_id %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @flight.destination_id %>
</p>

<p>
  <strong>Pnr:</strong>
  <%= @flight.pnr %>
</p>

<p>
  <strong>Airplane:</strong>
  <%= @flight.airplane_id %>
</p>

<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>
