<p id="notice"><%= notice %></p>

<h1>Seat Configs</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Now of rows</th>
      <th>No of seat in row</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seat_configs.each do |seat_config| %>
      <tr>
        <td><%= seat_config.category.name %></td>
        <td><%= seat_config.now_of_rows %></td>
        <td><%= seat_config.no_of_seat_in_row %></td>
        <td><%= link_to 'Show', seat_config %></td>
        <td><%= link_to 'Edit', edit_seat_config_path(seat_config) %></td>
        <td><%= link_to 'Destroy', seat_config, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seat Config', new_seat_config_path %>
